body{
    margin: 0;
    padding: 0;
}

footer{
    background-color: #4e28d8;
    color: #050505;
    text-align: left;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

main{
    display: flex;
}
